# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# Django
db.sqlite3
media/

#frontend
node_modules/

# IDE
.idea/
.vscode/

# Environment
.env

# Windows
Thumbs.db

